*{
    margin: 0;
    padding: 0;
}
// --------------------------fonts------------------------/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&family=Montserrat&display=swap');
body{
    background-color: #FFFFFF;
    max-width: 1152px;
    margin: 0 auto;
    font-family: 'Heebo', sans-serif;
}
// ---------------------imported-files------------------
@import 'header';
@import 'centerTop';
@import 'center';
@import 'footer';
@import 'blog';
.container{
    padding: 0px 148px
}



